h1 {
    margin-bottom: 0;
}

h2 {
    display: inline;
    padding-right: 30px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 6px;
}

html {
    font-family: Raleway, serif;
}

.sphere {
    fill: white;
}

.country {
    stroke: black;
    stroke-opacity: 0.1;
}

.documentTitle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.previousYearBtn, .nextYearBtn {
    cursor: pointer;
    background: white;
    border: none;
}

.selectedYear {
    pointer-events: none;
}

.legendTooltip {
    position: absolute;
    padding: 10px;
    background: white;
    opacity: 0.9;
    left: 1635px;
    top: 127px;
    display: block;
    width: 170px;
    border: 2px black;
}

.fhnwInfoBox {
    position: absolute;
    padding: 10px;
    opacity: 0.9;
    left: 75px;
    top: 10px;
    display: block;
    width: 260px;
    border: 2px black;
}

.tooltip {
    position: absolute;
    padding: 10px;
    background: white;
    opacity: 0;
    left: 0;
    top: 0;
    display: block;
    width: 340px;
}

.zoomBtnGroup {
    position: absolute;
    left: 80px;
    top: 140px;
    height: 50px;
}

.zoomBtnGroup > button {
    background-color: white;
    border: gray 2px solid;
    color: gray;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.zoomBtnGroup > button:hover {
    background-color: gray;
    color: white;
}

.zoomBtnGroup > button:first-child {
    border-bottom: none;
}

.changeWorldDisplayInfoBtn {
    position: absolute;
    left: 80px;
    height: 100px;
    opacity: 0.5;
    animation: fadein 1s;
}

.yearSelectGroup {
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.changeWorldDisplayInfoBtn.selected {
    opacity: 1 !important;
}

.changeWorldDisplayInfoBtn:hover {
    opacity: .8;
    cursor: pointer;
}

.populationDevelopmentTitle, .balanceDevelopmentTitle, .generalInformationTitle {
    margin-top: 15px;
    font-weight: 700;
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: .5
    }
}